@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin desktop-2xl {
  @media (min-width: 1920px) {
    @content;
  }
}
