.stub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  text-align: center;
  padding: variables.$spacing-2xl variables.$spacing-md;
}

.title {
  font-family: variables.$font-family-heading;
  font-size: variables.$font-size-3xl;
  font-weight: 700;
  margin-bottom: variables.$spacing-md;
}

.subtitle {
  font-size: variables.$font-size-md;
  color: variables.$color-text-secondary;
}
